* {
    background-color: #E4DFDA;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 0;
    margin-right: 0;
}

/* global styling */
html {
    scroll-behavior: smooth;
}

.About {
    padding: 10px;
    color: #032B43;
}

.AboutMe {
    background-color: transparent;
    font-size: large;
    margin: 10px;
}

.Headshot {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px;
}

a {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

.Header {
    color: #032B43;
    background-color: #3F88C5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.Header h1 {
    background-color: transparent;
}

.Navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    width: 50%;
}

ul {
    margin: 0;
    padding: 0;
}

nav ul {
    display: inline;
    background-color: transparent;
}

.nav-item {
    background-color: transparent;
}

.nav-item-active {
    background-color: #ffba08;
    border-radius: 10px;
    padding: 5px;
}

@media screen and (max-width: 770px) {
    .Header {
        color: #032B43;
        background-color: #3F88C5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }

    .Navigation {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: transparent;
        width: 100%;
        padding-bottom: 10px;
    }

    .nav-item {
        margin: 0px;
    }

    .Headshot {
        border-radius: 50%;
        width: 130px;
        height: 130px;
        margin: 10px;
    }
}

@keyframes rotatingColors {
    0%   {background-color: #D00000;}
    25%  {background-color: #FFBA08;}
    50%  {background-color: #3F88C5;}
    100% {background-color: #136F63;}
}

.flashingUrl a {
    background-color: #D00000;
    padding: 5px;
    border-radius: 10px;
    animation-name: rotatingColors;
    animation-duration: 4s;  
    animation-iteration-count: infinite;
}

.Portfolio {
    text-align: center;
    margin: 15px;
}

.projectList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectListItem {
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    background-color: #FFBA08;
}

.projectListItem:hover {
    background-color: #ffb9087a;
    border:#136F63 3px solid;
}

.projectListItem img {
    width: 400px;
    border-radius: 10px;
}

.projectList a {
    background: transparent;
}

.projectListItem h3 {
    background-color: transparent;
}

.projectListItem p {
    background-color: transparent;
}

@media screen and (max-width: 500px) {
    .projectListItem {
        max-width: 300px;
    }

    .projectListItem img {
        width: 300px;
        border-radius: 10px;
    }
}

.ContactForm {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

Form {
    padding: 20px;
    text-align: center;
    width: 70%;
    background-color: #FFBA08;
    border-radius: 50px;
}

Form:hover {
    background-color: #ffb908ae;
    border:#136F63 3px solid;
}

Form label {
    background-color: transparent;
}

Form input {
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: #032B43 2px solid;
}

Form textarea {
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 60px;
    border-radius: 5px;
    border: #032B43 2px solid;
}

.formAlert {
    background-color: transparent;
}

@media screen and (max-width: 700px) {
    Form input {
        display: block;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 25px;
        border-radius: 5px;
        border: #032B43 2px solid;
    }
    
    Form textarea {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 60px;
        border-radius: 5px;
        border: #032B43 2px solid;
    }
}

#submitButton {
    margin-top: 30px;
    background-color: #3F88C5;
}

#submitButton:hover {
    background-color: #FFBA08;
    cursor: pointer;
}

#emailfalse {
   background-color: rgba(255, 0, 0, 0.4);
}

#namefalse {
   background-color: rgba(255, 0, 0, 0.4);
}

#messagefalse {
    background-color: rgba(255, 0, 0, 0.4);
}

#emailtrue {
    background-color: rgba(0, 128, 0, 0.4);
}

#nametrue {
    background-color: rgba(0, 128, 0, 0.4);
}

#messagetrue {
    background-color: rgba(0, 128, 0, 0.4);
}

#submissionAlert {
    color: #D00000;
    text-align: center;
}

.submittedtrue {
    display: none;
}

.Resume {
    padding: 10px;
    text-align: center;
}

.Resume h3{
    text-align: center;
    margin: auto;
    width: 85%;
}

.Resume #skills {
    margin: auto;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 500px;
    justify-content: center;
    background-color: #D00000;
    padding: 20px;
    border-radius: 15px;
}

.Resume #skills:hover {
    background-color: #d0000087;
    border: 3px #D00000 solid;
}

.Resume #skills li {
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    background-color: #FFBA08;
}

.Resume #skills li:hover {
    background-color: #136F63;
    border: #032B43 2px solid;
}

Footer {
    background-color: #136F63;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.FooterElements {
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
    color: #FFBA08;
}

.FooterElements li {
    display: inline;
    background-color: transparent;
}

.FooterElements li a {
    background-color: transparent;
}

.FooterElements li a:hover {
    background-color: #D00000;
    padding: 5px;
    border-radius: 10px;
}