* {
    background-color: #E4DFDA;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Header {
    display: flex;
    align-items: center;
}

.Navigation {
    display: flex;
    justify-content: space-evenly;
}

nav ul {
    display: inline;
}

.nav-item-active {
    background-color: #ffba08;
}