* {
    background-color: #E4DFDA;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul {
    display: inline;
}

.nav-item-active {
    background-color: #ffba08;
}